<?xml version="1.0" encoding="utf-8"?>

<!-- 
  To use the Avalonia CI feed to get unstable packages, move this file to the root of your solution.
-->

<configuration>
  <packageSources>
    <add key="AvaloniaCI" value="https://pkgs.dev.azure.com/AvaloniaUI/AvaloniaUI/_packaging/avalonia-all/nuget/v3/index.json" />
  </packageSources>
</configuration>
